<div class="input-group ml-3 mt-3">
        <span class="input-group-addon mr-2"><i class="fa fa-user fa-lg"></i></span>
        <input name="ulogovani" class="ulogovani" ng-model="pllc.ulogovaniKorisnik.korisnicko_ime">
</div>

<div class="shadow-lg p-5 mt-5 mb-3">
    <form ng-submit="pllc.izmeniFizickoLice()">
        <div class="form-group">
            <label for="id">ID fizičkog lica</label>
                <input type="number" class="form-control" name="id" ng-model="pllc.fizickoLice.id" readonly>
        </div>
        <div class="form-group">
            <label for="ime">Ime i prezime</label>
            <input type="text" class="form-control" name="ime" placeholder="Ime i prezime" ng-model="pllc.fizickoLice.ime" required>
        </div>
        <div class="form-group">
            <label for="maticni_broj">Matični broj</label>
            <input type="text" class="form-control" name="maticni_broj" placeholder="Maticni broj" ng-model="pllc.fizickoLice.maticni_broj" required>
        </div>
        <div class="form-group">
                <label for="korisnik">Lice je dodao</label>
                <input type="text" class="form-control" name="korisnik" placeholder="Korisnik" ng-model="pllc.korisnik.korisnicko_ime" readonly>
        </div>
        <div class="form-group">
            <label for="obrisano">Obrisano</label>
            <input type="text" class="form-control" name="obrisano" placeholder="Obrisano" ng-model="pllc.fizickoLice.obrisano" readonly>
        </div>
        <input type="submit" class="btn btn-primary" value="Napravi izmenu">
        <a class="btn btn-secondary" ui-sref="fizickaLica">Nazad</a>
        <a ng-if="pllc.fizickoLice.obrisano=='ne'" class="btn btn-danger float-right"  ng-click="pllc.ukloniFizickoLice(fizickoLice.id)">Obriši</a>
        <a ng-if="pllc.fizickoLice.obrisano=='da'" class="btn btn-danger float-right"  ng-click="pllc.ponistiUklanjanjeFizickogLica(fizickoLice.id)">Poništi brisanje</a>
    </form>
</div>

<div uib-alert ng-repeat="alert in pllc.alerts" ng-class="'alert-' + (alert.type)" class="float-right pt-3 pb-3" close="pllc.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>


<form ng-submit="pllc.prikaziDijagram()">
    <div class="form-group">
        <label for="racun" class="mt-5">Račun</label>
        <select class="form-control" name="racuna" ng-options="racun.id as racun.broj for racun in pllc.racuni track by racun.id"
            ng-model="pllc.racun_id" ng-change="pllc.prikaziDijagram()" required><option></option></select>
    </div>
<input type="submit" class="btn btn-primary" value="Prikaži dijagram za ovaj račun">
</form>
<div id="chartContainer" style="height: 370px; width: 100%;" class="chart"></div>





<div class="modal fade bd-example-modal-lg" data-keyboard="false" data-backdrop="static" id="pretraga" tabindex="-1"  role="dialog" aria-labelledby="modalLabel" aria-hidden="true" ng-controller="PretragaCtrl as pc">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ml-auto pl-4" id="modalLabel">Prikaz priliva i odliva</h4>
                <button class="close" data-dismiss="modal" ng-click="pc.zatvori()">&times;</button>
            </div>
            <div class="modal-body">
                <div ng-if="pc.tabela == 1 && pc.pretraziTransakciju == 0" class="mt-3 mb-5 ml-2 mr-2">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="pc.zatvori()">Zatvori</button>
            </div>
        </div>
    </div>
</div>