<div class="input-group ml-3 mt-3">
        <span class="input-group-addon mr-2"><i class="fa fa-user fa-lg"></i></span>
        <input name="ulogovani" class="ulogovani" ng-model="pllc.ulogovaniKorisnik.korisnicko_ime">
</div>

<div class="shadow-lg p-5 mt-4 mb-3">
    <form ng-submit="pllc.izmeniPravnoLice()">
        <div class="form-group">
            <label for="id">ID firme</label>
                <input type="number" class="form-control" name="id" ng-model="pllc.pravnoLice.id" readonly>
        </div>
        <div class="form-group">
            <label for="naziv_firme">Naziv firme</label>
            <input type="text" class="form-control" name="naziv_firme" placeholder="Naziv firme" ng-model="pllc.pravnoLice.ime" required>
        </div>
        <div class="form-group">
            <label for="ime">Adresa</label>
            <input type="text" class="form-control" name="ime" placeholder="Adresa" ng-model="pllc.pravnoLice.adresa" required>
        </div>
        <div class="form-group">
            <label for="PIB">PIB</label>
            <input type="text" class="form-control" name="PIB" placeholder="PIB" ng-model="pllc.pravnoLice.PIB" required>
        </div>
        <div class="form-group">
            <label for="maticni_broj">Matični broj</label>
            <input type="text" class="form-control" name="maticni_broj" placeholder="Maticni broj" ng-model="pllc.pravnoLice.maticni_broj" required>
        </div>
        <div class="form-group">
                <label for="korisnik">Lice je dodao</label>
                <input type="text" class="form-control" name="korisnik" placeholder="Korisnik" ng-model="pllc.korisnik.korisnicko_ime" readonly>
        </div>
        <div class="form-group">
            <label for="obrisano">Obrisano</label>
            <input type="text" class="form-control" name="obrisano" placeholder="Obrisano" ng-model="pllc.pravnoLice.obrisano" readonly>
        </div>
        <input type="submit" class="btn btn-primary" value="Napravi izmenu">
        <a class="btn btn-secondary" ui-sref="pravnaLica">Nazad</a>
        <a ng-if="pllc.pravnoLice.obrisano=='ne'" class="btn btn-danger float-right"  ng-click="pllc.ukloniPravnoLice(pravnoLice.id)">Obriši</a>
        <a ng-if="pllc.pravnoLice.obrisano=='da'" class="btn btn-danger float-right"  ng-click="pllc.ponistiUklanjanjePravnogLica(pravnoLice.id)">Poništi brisanje</a>
    </form>
</div>

<div uib-alert ng-repeat="alert in pllc.alerts" ng-class="'alert-' + (alert.type)" class="float-right pt-3 pb-3" close="pllc.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>


<form ng-submit="pllc.prikaziDijagram()">
    <div class="form-group">
        <label for="racun" class="mt-5">Račun</label>
        <select class="form-control" name="racuna" ng-options="racun.id as racun.broj for racun in pllc.racuni track by racun.id"
            ng-model="pllc.racun_id" ng-change="pllc.prikaziDijagram()" required><option></option></select>
    </div>
<input type="submit" class="btn btn-primary" value="Prikaži dijagram za ovaj račun">
</form>

<div id="chartContainer" style="height: 370px; width: 100%;" class="chart"></div>